body {
	background-color: lightblue;
}

.container {
	border: 1px solid black;
	background-color: white;
	padding-bottom: 100px;
	padding: 1px;
}
.jumbotron {
	background-color: orange;
	color: green;
}
.column {
}
.row {
	padding-left:75px;
	padding-right:75px;
}
.row:last-child {
	
	padding-bottom:75px;
}